<div class="center">
<h1><%= @application.name %></h1>
<br>
<h1>DATA WILL GO HERE</h1>
<%= link_to "Delete App", {"id"=> @application.id, "controller"=>"registered_applications_controller", "action"=>"destroy"}, class:"btn btn-danger btn-lg", method: :delete %>
<br>
<%= params %>
</div>